.todoItem {
	display: flex;
	align-items: center;
	width: 85%;
	height: 35px;
	min-height: 35px;
	border-radius: 20px;
	margin-bottom: 10px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.todoItem input {
	border: none;
	outline-width: 0;
	margin-left: 10px;
	flex-grow: 1;
	background: transparent;
	color: rgba(255, 255, 255, 0.6);
}

.todoItem.true input {
	text-decoration: line-through;
	color: green;
}

.todoItem .MuiButtonBase-root {
	padding: 5px;
}

.todoItem .MuiCheckbox-colorSecondary.Mui-checked,
.todoItem .MuiCheckbox-root,
.todoItem .MuiIconButton-root {
	color: rgba(255, 255, 255, 0.4);
}
