.todoCreator {
	display: flex;
	align-items: center;
	width: 70%;
	height: 35px;
	border-radius: 20px;
	margin-bottom: 15px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.todoCreator form {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoCreator input {
	border: none;
	background: transparent;
	outline-width: 0;
	margin-left: 10px;
	flex-grow: 1;
	color: rgba(255, 255, 255, 0.6);
}

.todoCreator .MuiButtonBase-root.MuiIconButton-root {
	padding: 4px;
}

.todoCreator .MuiIconButton-root {
	color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 850px) {
	.todoCreator {
		width: 30%;
	}
}
